@import './src/index.scss';

.header {
  display: flex;;
  justify-content: space-between;
  padding: 4rem;
}

.logo-container {
  padding: 0 0 0 2rem;
}

.link {
  display: flex;
  padding: 1.2rem;
}

.option {
  margin-right: 2rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
}
